# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env
.env*.local
.env

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright-cli
.playwright-cli/

# Local verification screenshots
.verify/
